#!/usr/bin/make -f

dh_targets=binary binary-arch binary-indep build build-arch build-indep clean install

$(dh_targets) %:
	dh $@ --parallel --with autotools_dev

.PHONY: $(dh_targets)

override_dh_auto_install:
	dh_auto_install
	rm -r debian/gnome-randr-applet/usr/share/doc/grandr_applet
